.main {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: 55% 1fr;
  grid-template-rows: 30vh 1fr;
  grid-template-areas: "selfie namebox" "about resume";
}

.namebox {
  padding: 1rem;
  /* Grid */
  grid-area: namebox;
  /* Color */
  background-color: #ffeaa7;
}

.namebox h1 {
  font-size: calc(1.8rem * 2.25);
}

.namebox p {
  font-size: 1.8rem;
}

.selfie {
  width: 100%;
  height: 100%;
  grid-area: selfie;
  object-fit: cover;
}

.about {
  padding: 1rem;
  grid-area: about;
  background-color: #81ecec;
}

.resume {
  padding: 1rem;
  grid-area: resume;
  border: 1px solid rgba(51, 51, 51, 0.125);
}

.iconDiv {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume svg {
  font-size: 6rem;
  color: #00cec9;
}
