.main {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "namebox selfie selfie" "about about resume";
}

.namebox {
  padding: 2rem;
  /* Grid */
  grid-area: namebox;
  /* Color */
  background-color: var(--sun-light);
}

.namebox h1 {
  font-size: calc(1.25rem * 2.25);
}

.namebox p {
  font-size: 1.25rem;
}

.selfie {
  height: 100%;
  width: 100%;
  grid-area: selfie;
  object-fit: cover;
}

.namebox,
.selfie {
  max-height: 350px;
}

.about {
  padding: 2rem;
  grid-area: about;
  background-color: #81ecec;
}

.resume {
  padding: 2rem;
  grid-area: resume;
  background-color: #ffc08b;
}

.iconDiv {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume svg {
  font-size: 4rem;
  color: #00cec9;
}

@media only screen and (max-width: 699px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "namebox namebox selfie selfie"
      "about about about resume";
  }
}

@media only screen and (max-width: 599px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .selfie {
    height: 300px;
    margin: 0;
  }
}
