.main {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: 55% 1fr;
  grid-template-rows: 50vh 40vh;
  grid-template-areas: "splash splash" "selfie namebox";
}

.main img {
  width: 100%;
  height: 100%;
}

.selfie,
.splash {
  object-fit: cover;
}

.selfie {
  grid-area: selfie;
}

.splash {
  grid-area: splash;
}

.namebox {
  padding: 1rem 2rem;
  /* Grid */
  grid-area: namebox;
  /* Color */
  background-color: #fdcb6e;
}

.namebox h1 {
  font-size: calc(1.8rem * 2.25);
}

.namebox p {
  font-size: 1.8rem;
}
