.header {
  padding: 1rem;
  /* Flex */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header img {
  height: 96px;
  width: 96px;
}

.header a {
  margin: 0.5rem 0;
  /* Text */
  font-size: 1.5rem;
  color: inherit;
  font-family: "Open Sans Condensed", "Century Gothic", "URW Gothic L",
    "Avant Garde", sans-serif;
}

.header a:link {
  text-decoration: none;
}

.header a:visited {
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.header a:active {
  text-decoration: underline;
}
