/* .image {
  animation: fadein 0.7s ease-out;
} */

.invisible {
  opacity: 0;
}

.visible {
  animation: fadein 0.7s ease-out;
}

.invisible {
  opacity: 0;
}

@keyframes fadein {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
