.projectCard {
  width: 100%;
  margin: 2rem 0;
  padding: 2rem;
  background-color: var(--sun-light);
  /* Grid */
  display: grid;
  grid-template-columns: 35% 1fr;
  gap: 2rem;
  grid-template-areas: "textBox preview" "stack preview";
}

.projectCard img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  z-index: -1;
  grid-area: preview;
}

.projectCard p {
  text-align: justify;
}

.textBox {
  grid-area: textBox;
}

.linkGroup {
  padding-left: 1rem;
}

.linkGroup svg {
  margin: 0 0.5rem;
  font-size: 1.75rem;
}

.stackList {
  grid-area: stack;
}

@media only screen and (max-width: 599px) {
  .projectCard {
    display: flex;
    flex-direction: column;
  }
}
